/* write your override styles here */
#wall .tag-1 {
  display: none;
}

 #wall #tag-2 {
  display: none;
}

#wall #tag-3.slick.wicked {
  display: none;
}

#tag-4.parent {
  display: none;
}

div #wall .parent #tag-5.slick {
  display: none;
}